* {
  font-family: 'Varela Round', sans-serif !important;
}

body {
  text-align: center;
}

header {
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-bottom: 1px solid black;
}

.hidden {
  display: none;
}

.jumbotron {
  border: 5px solid black;
  padding: 0;
}

.book-title {
  padding: 10px;
}

.book-title:nth-of-type(even) {
  display: flex;
  justify-content: space-between;
  background-color: #d3d3d3;
}

.book-title:nth-of-type(odd) {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
}

.remove {
  box-shadow: 5px 5px black;
  border: 3px solid black;
}

.form-control {
  border: 3px solid black;
}

.d-flex {
  display: flex;
}

.main-nav {
  justify-content: space-between;
  padding: 20px;
  align-items: baseline;
  border: 1px solid #0a0a0a;
  margin: 10px;
}

#listNav {
  color: #0a0a0a;
}

.logo {
  font-size: 30px;
}

.nav-text {
  color: #0a0a0a;
  font-weight: 900;
}

.nav-list {
  list-style: none;
  font-size: 20px;
  justify-content: center;
  flex-basis: 35%;
}

.nav-list li {
  border-right: solid 1px #0a0a0a;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.nav-list li:last-child {
  border: none;
}

.nav-list li a {
  text-decoration: none;
  padding: 15px;
  color: #0a0a0a;
  font-weight: 400;
  display: block;
}

.time-nav {
  justify-content: end;
  font-size: 20px;
  background: white;
  padding: 0 20px;
}

.footer {
  /* position: fixed; */
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  padding: 20px 15px;
}
